# Dependency directories
node_modules/

# Environment variable files
.env

# Truffle build artifacts
build/

# macOS system files
.DS_Store

# Truffle and Ganache local files
ganache-db/
config/contractDetails.json
